.main-about.css {
    background: radial-gradient(#e5e5e5, #ffff, #efefef);


}

.cards {
    width: 20rem;
}

.cards:hover {
    box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.253) !important;
}

.cards-body {
    padding: 3rem 0 !important;
}

.cards-text {
    font-size: 0.9rem;
    padding: 0.4rem 1.9rem;
}

.container-fluid.row {
    padding-top: 6rem;
}

.overflow {
    overflow: hidden;
}

.card-Img-top {
    transform: scale(1);
    transition: scale(1.8);
}