.loginput-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px;
}

.loginform {
  background-image: url("../components/all-images/backgroundImages/pic5.jpg");
  background-size: cover;
  padding: 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 50%;
  height: 100%;
  margin: 0 auto;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
}