.vehSelect {
    /* background-color: rgb(194, 242, 242); */
    background-image: url("./all-images/slider-img/slider-3.jpg");
    opacity: 0.8;
    padding: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 50%;
    height: 100%;
    margin: 0 auto;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
}

.vehSel {
    text-align: center;
}


/* .selbg {
    background-image: url("../components/all-images/cars-img/vintage.jpg");
    background-size: cover;
} */

.vehDetbtn {
    margin-bottom: 10px;

}